@model StudentManagement.Models.Student

<div class="modal fade" id="editModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">

            <form asp-action="Edit" method="post">

                <div class="modal-header">
                    <h5 class="modal-title">Edit Student</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body">

                    <input type="hidden" asp-for="Id" />

                    <div class="mb-3">
                        <label>Name</label>
                        <input asp-for="Name" class="form-control" />
                    </div>

                    <div class="mb-3">
                        <label>Age</label>
                        <input asp-for="Age" class="form-control" />
                    </div>

                    <div class="mb-3">
                        <label>Course</label>
                        <input asp-for="Course" class="form-control" />
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Update</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>

            </form>

        </div>
    </div>
</div>