@model UniversityManagement.Models.Department

<h2>Create Department</h2>

<form asp-action="Create">

    <label>Name</label>
    <input asp-for="Name" />
    <br />

    <label>Budget</label>
    <input asp-for="Budget" />
    <br />

    <button type="submit">Save</button>

</form>

<a asp-action="Index">Back</a>