@model Employee_Project_Management_System.Models.Project

<div class="container mt-4">

    <h2 class="mb-4">Create Project</h2>

    <form method="post">

        <div class="mb-3">
            <label class="form-label">Project Title</label>
            <input class="form-control" type="text" name="Title" />
        </div>

        <button class="btn btn-success">Save Project</button>

    </form>

</div>