@model List<Order>

<div class="container mt-4">
    <h2>Orders</h2>

    <a href="/Order/Create" class="btn btn-success mb-3">Create Order</a>

    <table class="table table-striped">
        <tr>
            <th>Order ID</th>
            <th>Customer</th>
            <th>Date</th>
            <th>Status</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Customer?.Name</td>
                <td>@item.OrderDate</td>
                <td>@item.ShippingDetail?.Status</td>
            </tr>
        }
    </table>
</div>