@model UniversityManagement.Models.Course

<h2>Create Course</h2>

<form asp-action="Create">

    <label>Title</label>
    <input asp-for="Title" />
    <br />

    <label>Credits</label>
    <input asp-for="Credits" />
    <br />

    <button type="submit">Save</button>

</form>

<a asp-action="Index">Back</a>