@model UniversityManagement.Models.Course

<h2>Edit Course</h2>

<form asp-action="Edit">

    <input type="hidden" asp-for="CourseId" />

    <label>Title</label>
    <input asp-for="Title" />
    <br />

    <label>Credits</label>
    <input asp-for="Credits" />
    <br />

    <button type="submit">Update</button>

</form>

<a asp-action="Index">Back</a>