@model List<LibraryApp.Models.Book>

<h2>Books List</h2>

<ul>
    @foreach (var book in Model)
    {
        <li>
            <a href="/Books/Details/@book.Id">@book.Title</a>
        </li>
    }
</ul>