@model Book

<h2>Add Book</h2>

<form asp-action="Create" method="post">

    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
    </div>

    <br />

    <button type="submit" class="btn btn-primary">Save</button>

</form>