@model CompanyEmployees.Models.Company

<h2>Add Company</h2>

<form asp-action="Create" method="post">

    <div>
        <label>Company Name</label>
        <input asp-for="CompanyName" class="form-control" />
        <span asp-validation-for="CompanyName" style="color:red"></span>
    </div>

    <br />

    <div>
        <label>Location</label>
        <input asp-for="Location" class="form-control" />
        <span asp-validation-for="Location" style="color:red"></span>
    </div>

    <br />

    <button type="submit">Save</button>

</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}