@model Order

<h2>Place Order</h2>

<form asp-action="Create">

    <div>
        <label>Customer</label>
        <select asp-for="CustomerId" asp-items="ViewBag.Customers"></select>
    </div>

    <div>
        <label>Product</label>
        <select asp-for="ProductId" asp-items="ViewBag.Products"></select>
    </div>

    <br />

    <button type="submit">Save</button>

</form>