@model Customer

<div class="container mt-4">
    <h2>Edit Customer</h2>

    <form asp-action="Edit" method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="Id" />

        <input asp-for="Name" class="form-control mb-2" />
        <input asp-for="Email" class="form-control mb-3" />

        <button class="btn btn-primary">Update</button>
        <a href="/Customer" class="btn btn-secondary">Back</a>
    </form>
</div>